#footer {
	margin-top: 0;
}

.page-wrap {
	padding-bottom: 0;
}

.sub-footer {
	background: $black;
	padding: 30px 0;
}

.copyright {
	color: $white;
	line-height: 40px;
}

.social {
	margin-bottom: 0;
	padding: 0;

	li {
		display: inline-block;
	}

	.fb-icon, .li-icon {
		margin-right: 20px;
	}
	
}

/**
 * Sticky Footer Setup
 * http://ryanfait.com/resources/footer-stick-to-bottom-of-page/
 * https://css-tricks.com/snippets/css/sticky-footer/
 *
 * Only runs on desktop browsers due to needing a fixed height footer.
 */

@if $footer-desktop-height {

	.page-wrap {
		@include bp(md) {
			min-height: 100%;
			/* equal to footer height */
			margin-bottom: -($footer-desktop-height);
		}
	}
	.page-wrap:after {
		content: "";
		display: block;
	}
	#footer, .page-wrap:after {
		@include bp(md) {
			height: $footer-desktop-height;
		}
	}

}

@media screen and (max-width: 768px) {
	.copyright {
		text-align: center;
	}

	.social {
		li {
			width: 32%;
		}

		.fb-icon, .li-icon {
			margin-right: auto;
		}

		img {
			margin: auto;
		}
	}
}

@media screen and (max-width: 480px) {
	.copyright {
		text-align: center;
	}

	.social {
		li {
			width: 32%;
		}

		.fb-icon, .li-icon {
			margin-right: 0;
		}
	}
}