.post-template-default, .blog {
	
	.site-main {
		background: url('../images/code-blur.jpg');

		.container {
			background-color: $page-bkg;
		}
	}
}

.blog {
	.post-115 {
		.thumb {
			float: left;
    		margin: 0 10px 10px 0;
		}

		.entry-meta {
			margin-bottom: 10px;
		}
	}
}

.single article, .category article, .archive article {
	padding-right: 30px;

	.thumb {
		margin-bottom: 20px;
	}
}

.sidebar {
	padding: 20px 15px;
}

.page-template-default, .page-template-contact-template {
	.site-main {
		background: url('../images/code-blur.jpg');
	}

	article {
		background: $page-bkg;
    	padding: 10px 30px;
	}

	.entry-title {
		font-family: $lato-blk;
		border-bottom: 4px solid $gold;
	    max-width: 280px;
	}
	.entry-content {
		color: $black;
		font-family: $lato-reg;
		font-size: 18px;
	    padding-bottom: 30px;
	    letter-spacing: 1.1px;
	}
}

.page-template-contact-template .site-main .container:first-of-type {
	background: $page-bkg;
    padding: 10px 30px;
}

blockquote {
	border-left: 5px solid $gold;
	margin: 0;
    padding: 10px 0 10px 20px;
}

.page-template-work-template {
	.site-main {
		position: relative;
	}
	.entry-title {
		color: rgba(255, 255, 255, 0.9);
	}
	.panels {
		position: relative;
		min-height: 890px;
		top: 50px;

		.flip-container {
			margin-bottom: 35px;
		}
	}
}

.back {

	.emp {
		float: right;

		.emp-statement {
			font-size: 10px;
		    width: 100%;
		    text-align: center;
		    display: block;
		}

		img {
			max-width: 75px;
			margin: 0 0 7px 7px;
		}
	}

	h2 {
		font-size: 20px;
		margin-top: 0;
		max-width: 260px;

		&:hover {
			text-decoration: none;
		}
	}
}

.testimonials {
	position: relative;

	.testimonails-btn {
		position: absolute;
		top: -29px;
	    right: 10px;
	    padding: 25px 27px;
		background: url('../images/btn.png');
		background-size: cover;
		border: none;
		color: $white;
		font-family: $lato-bld;
		font-size: 17px;
	    height: 72px;
	    max-width: 289px;
	    text-decoration: none;
	}
}

.page-id-68 .wpcf7 label {
	color: $light-black;
}

.listing .list {
	margin-bottom: 4em;

	&:last-of-type {
		border-bottom: 0;
	}
}

.flip-container:hover .flipper, .flip-container.hover .flipper, .flip-container.flip .flipper {
	transform: rotateY(180deg);
}

.page-id-68 {

	.wpcf7-form .wpcf7-form-control-wrap input {
		width: 100%;
		border: 0;
	}

	.post-68 .text.row {
		margin-left: 0;
		margin-right: 0;
	}
}


/* entire container, keeps perspective */
.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
}

.flip-container, .front, .back {
    width: 320px;
    height: 480px;
}

.flipper {
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;

    position: relative;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    -ms-transition: 0.6s;
    -ms-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;


    position: absolute;
    top: 0;
    left: 0;
}

.back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.flip-container:hover .back, .flip-container.hover .back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.flip-container:hover .front, .flip-container.hover .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}


.front {
    z-index: 2;
}

@media screen and (max-width: 850px) {
	.testimonials .testimonails-btn {
		position: relative;
		display: block;
		top: 0;
		right: 0;
		margin: 10px auto;
    	padding: 35px 59px;
		height: auto;
	}
}

@media screen and (max-width: 800px) {
	.testimonials {
		padding: 0 20px;
	}
}

@media screen and (max-width: 480px) {
	.single article, .category article, .archive article {
		padding-right: initial;
	}
	.testimonials {
		padding-bottom: initial;
	}
}