a, img {
	border: 0 !important;
}
.grn-bkgd {
	background-color: #68A737;
	/* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}
.grn-bkgd-lt {
	background-color: #68A737;
	/* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
.num {
	color: #68A737;
    /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}
.overlay, .grey-overlay {
	background-color: #000;
	/* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
}
.testimonial {
	background-color: 88FF2C;
	/* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=33)";
}
.view-btn {
	background-color: #68A737;
	/* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}
.wht-glaze {
	background-color: #fff;
    /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
}