@font-face {
    font-family: "Lato Black";
    src: url("../fonts/Lato-Black.eot?") format("eot"),
         url("../fonts/Lato-Black.woff2") format("woff2"),
         url("../fonts/Lato-Black.woff") format("woff"),
         url("../fonts/Lato-Black.ttf") format("truetype")
}

@font-face {
    font-family: "Lato Bold";
    src: url("../fonts/Lato-Bold.eot?") format("eot"),
         url("../fonts/Lato-Bold.woff2") format("woff2"),
         url("../fonts/Lato-Bold.woff") format("woff"),
         url("../fonts/Lato-Bold.ttf") format("truetype")
}

@font-face {
    font-family: "Lato Regular";
    src: url("../fonts/Lato-Regular.eot?") format("eot"),
         url("../fonts/Lato-Regular.woff2") format("woff2"),
         url("../fonts/Lato-Regular.woff") format("woff"),
         url("../fonts/Lato-Regular.ttf") format("truetype")
}

@font-face {
    font-family: "Lato Regular";
    src: url("../fonts/Lato-Regular.eot?") format("eot"),
         url("../fonts/Lato-Regular.woff2") format("woff2"),
         url("../fonts/Lato-Regular.woff") format("woff"),
         url("../fonts/Lato-Regular.ttf") format("truetype")
}

@font-face {
    font-family: "SF Galaxy Alt";
    src: url("../fonts/SF Distant Galaxy Alternate.ttf") format("truetype")
}

@font-face {
    font-family: "SF Galaxy Ol";
    src: url("../fonts/SF Distant Galaxy Outline.ttf") format("truetype")
}